{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!--<link rel="stylesheet" href="../static/styles/styles.css"> -->
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
  <!--<link rel="stylesheet" href="checkbox.css"> -->
  <link rel="stylesheet" href="{% static 'styles/checkbox.css'%}">
</head>
<body>
  <section>
    <div class="createContainer">
      <input class="creatInput" type="text" placeholder="Напишите сюда новую задачу">
       <button class="creatBtn">Добавить</button>
    </div>
    <div class="toDoContainer">
       <div class="toDoItem">
          <div class="toDoItemHeader">
             <label class="checkBoxContainer">
               <input type="checkbox" name="" id="">
               <span class="checkMark"></span>
             </label>
             <h4>Купить молоко</h4>
          </div>
          <div class="toDoItemFooter">
            <p>03.08.21 <span>11:38</span></p>
            <div class="actionBtns">
             <img   class="star" onclick="changeImg()" src="images/star-regular.svg" alt="">
             <img src="images/trash-alt-solid.svg" alt="">
            </div>
          </div>
       </div>
       <div class="toDoItem marked">
           <div class="toDoItemHeader">
             <label class="checkBoxContainer">
               <input type="checkbox" name="" id="">
               <span class="checkMark"></span>
             </label>
             <h4>Купить молоко</h4>
          </div>
          <div class="toDoItemFooter">
            <p>03.08.21 <span>11:38</span></p>
            <div class="actionBtns">
             <img  class="star" onclick="changeImg()" src="images/star-regular.svg" alt="">
             <img src="images/trash-alt-solid.svg" alt="">
            </div>
          </div>
       </div>
       <div class="toDoItem done">
            <div class="toDoItemHeader">
             <label class="checkBoxContainer">
               <input type="checkbox" name="" id="">
               <span class="checkMark"></span>
             </label>
             <h4>Купить молоко</h4>
          </div>
          <div class="toDoItemFooter">
            <p>03.08.21 <span>11:38</span></p>
            <div class="actionBtns">
             <img  class="star" onclick="changeImg()" src="images/star-regular.svg" alt="">
             <img src="images/trash-alt-solid.svg" alt="">
            </div>
          </div>
       </div>
       <div class="toDoItem marked">
           <div class="toDoItemHeader">
             <label class="checkBoxContainer">
               <input type="checkbox" name="" id="">
               <span class="checkMark"></span>
             </label>
             <h4>Купить молоко</h4>
          </div>
          <div class="toDoItemFooter">
            <p>03.08.21 <span>11:38</span></p>
            <div class="actionBtns">
             <img  class="star" onclick="changeImg()" src="images/star-regular.svg" alt="">
             <img src="images/trash-alt-solid.svg" alt="">
            </div>
          </div>
       </div>
       <div class="toDoItem">
          <div class="toDoItemHeader">
             <label class="checkBoxContainer">
               <input type="checkbox" name="" id="">
               <span class="checkMark"></span>
             </label>
             <h4>Купить молоко</h4>
          </div>
          <div class="toDoItemFooter">
            <p>03.08.21 <span>11:38</span></p>
            <div class="actionBtns">
             <img  class="star" onclick="changeImg()" src="images/star-regular.svg" alt="">
             <img   src="images/trash-alt-solid.svg" alt="">
            </div>
          </div>
       </div>
       <div class="toDoItem done">
           <div class="toDoItemHeader">
             <label class="checkBoxContainer">
               <input type="checkbox" name="" id="">
               <span class="checkMark"></span>
             </label>
             <h4>Купить молоко</h4>
          </div>
          <div class="toDoItemFooter">
            <p>03.08.21 <span>11:38</span></p>
            <div class="actionBtns">
             <img  class="star" onclick="changeImg()" src="images/star-regular.svg" alt="">
             <img src="images/trash-alt-solid.svg" alt="">
            </div>
          </div>
       </div>
    </div>
  </section>

  <script src="script.js"></script>
</body>
</html>